.card {
    animation: fadeInUp 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
h2{
    
        color:#360549 ;
        font-style: italic;
      
}
.form-control:focus ,.form-select:focus{
    border-color: #b94fce !important;
    /* box-shadow: none !important; */
    box-shadow: 0 0 0 .2rem #d3b5da;
}
.form-control::placeholder{
    color:#380c42 !important;
}
label{
    font-style: italic;
    font-weight: bold;
    color:#460b5e;
    margin-top: 5px;
}
.btn-primary {
    margin-right: 5px;
    background-color: #73079e;
    border: none;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color:  #b94fce !important;
    border-color: #b94fce !important;
}