<section id="editProfile">
<div class="profile-container mt-5">
    <div class="card profile-card">
        <div class="card-header text-center">
            <h3>Edit Your Profile</h3>
        </div>
        <div class="card-body">
            <form id="profileForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username">UserName</label>
                            <input type="text" class="form-control" id="userName" placeholder="UserName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone">Contact Number</label>
                            <input type="tel" class="form-control" id="phone" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                    </div>
                </div>

                <div class="form-group text-center profile-image-group">
                    <label class="form-label">Profile Image</label>
                    <div class="image-preview">
                        <img src="images/registeration.jpg" alt="Profile Image" id="profileImagePreview" class="rounded-circle profile-avatar shadow">
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="profileImage" accept="image/*" style="display: none;">
                        <label for="profileImage" class="btn btn-image ">
                            <i class="fa-solid fa-file-arrow-up"></i> Choose File
                        </label>
                        <span id="file-name"></span>
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="fa-solid fa-floppy-disk"></i> Save Changes
                    </button>
                    <button type="button" class="btn btn-secondary btn-lg">
                        <i class="fa-solid fa-xmark"></i> Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</section>