<div class="card mt-4">
    <div class="card-header">
        <h3>illustrator</h3>
    </div>

    <div class="card-body">
        <h3> Image Course :</h3>
        <div class="image-preview">
            <img src="images/portfolio/illustrator (1).png" alt="course Image" id="profileImagePreview" class="rounded-circle">
        </div>
     <h3> Name :<span>illustrator  </span></h3>
     <h3> price :<span class="bg-warning rounded p-1"> 60 $</span></h3>
     <h3> Date :<span>10-10-2025</span></h3>
      <h3>Description :</h3>
       <p>Adobe Illustrator is a vector graphics editing software used for creating illustrations, logos, icons, typography, and complex artwork. It is widely used in graphic design, web design, and digital art due to its precision, scalability, and ability to create clean, high-quality graphics. Illustrator works primarily with vector files, allowing designs to be resized without losing quality.</p>
       <div class="d-flex">
       <h3>Rate :</h3>
       <div class="mt-2">
       
        <i class="fa-solid fa-star text-warning"></i>
        <i class="fa-solid fa-star text-warning"></i>
        <i class="fa-solid fa-star text-warning"></i>
        <i class="fa-solid fa-star text-warning"></i>
        <i class="fa-solid fa-star text-warning"></i>
       </div>
       <div>
    </div>
       </div>
<div class="w-25 m-auto">
  <button class="btn btn-outline-warning w-100"> Pay</button>
</div>
    </div>
</div>