<div class="materials-content">
    <div class="card mt-4">
      <div class="card-header text-white">
        <h3>Add Material</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="materialTitle">Title</label>
            <input type="text" formControlName="title" class="form-control" id="materialTitle" placeholder="Material Title" required>
            <div class="alert alert-danger" *ngIf="materialForm.get('title')?.errors && materialForm.get('title')?.touched">
            <p *ngIf="materialForm.get('title')?.getError('required')">Title is required</p>
            <p *ngIf="materialForm.get('title')?.getError('pattern')">Title must be Url</p>
            </div>
          </div>
          <div class="form-group">
            <label for="materialType">Type</label>
            <select formControlName="type" class="form-control" id="materialType" required>
              <option value="">Select Type</option>
              <option value="pdf">PDF</option>
              <option value="video">Video</option>
              <option value="audio">Audio</option>
              <option value="text">Text</option>
            </select>
            <div class="alert alert-danger" *ngIf="materialForm.get('type')?.errors && materialForm.get('type')?.touched">
            <p *ngIf="materialForm.get('type')?.getError('required')">Type is required</p>
            <p *ngIf="materialForm.get('type')?.getError('pattern')">Type must be PDF ,Video ,Audio, Text</p>
            </div>
        </div>
          <div class="form-group">
            <label for="materialFile">Upload File</label>
            <input type="file" (change)="onFileChange($event)" class="form-control-file" id="materialFile" accept=".pdf,.mp4,.mp3,.txt">
            <div class="alert alert-danger" *ngIf="materialForm.get('file')?.errors && materialForm.get('type')?.touched">
                <p *ngIf="materialForm.get('file')?.getError('required')">File is required</p>
                <p *ngIf="materialForm.get('file')?.getError('pattern')">File Type must be PDF ,Video ,Audio, Text</p>
                </div>
          </div>
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary"[disabled]="materialForm.invalid">  <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>Save</button>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
          </div>
          <div *ngFor="let error of msgErrors" class="alert alert-danger mt-3">
            {{ error }}
          </div>

          
          <p *ngIf="msgSuccess" class="alert alert-success mt-2">{{ msgSuccess }}</p>
        </form>
      </div>
    </div>
  
    <div class="card mt-4">
      <div class="card-header">
        <h3>Existing Materials</h3>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Type</th>
              <th>File</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="materialsTableBody">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  