

.sidebar {
    background-color: #5752d9;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
    border-right: 1px solid #ddd;
}

.sidebar .nav-link {
    color: #333;
    font-weight: bold;
    padding: 15px;
    transition: all 0.3s ease;
}

.sidebar .nav-link:hover, .nav-link.active {
    background-color: #3c41c7;
    color: white;
}

.materials-content {
    padding: 20px;
    margin-left: 0; /* Default value for small screens */
}

.card {
    animation: fadeInUp 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.card-header {
    background-color: #484de0;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-primary {
    background-color: #5252c6;
    border: none;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #574fce !important;
    border-color: #604fce !important;
}

.btn-secondary {
    background-color: #19079e;
    border: none;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: #4f57ce !important;
    border-color: #624fce !important;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (min-width: 768px) {
    .materials-content {
        margin-left: 270px;
    }
}
