
<section id="view-admin">
<div class="card mt-4">
    <div class="card-header">
        <h3>My Profile</h3>
    </div>

    <div class="card-body">
        
        <h3>Course Details:</h3>
        <div class="course-details">
            <h4>Course Name: <span>Introduction to Programming</span></h4>
            <h4>Price: <span>$199</span></h4>
            <h4>Date: <span>2024-09-30</span></h4>
            <h4>Course Image:</h4>
            <div class="image-preview">
                <img src="images/course-image.jpg" alt="Course Image" class="course-image">
            </div>
        </div>
    </div>
</div>
</section>