#quiz {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin-bottom: 20px;
}

.mycontainer {
    margin-top: 20px; 
    text-align: center; 
}

.question {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    margin-right: 10px; 
}


.form-group label {
    text-align: left;
    display: block;
}
