<header id="home" class="vh-100 ">
        
    <div class="home-info mx-auto text-white text-center">
   
     <span class=" fw-light"><span class="auto-type fw-normal"></span></span>
    <div class="home-icons d-flex gap-2 mt-5 justify-content-center">
        <a href="https://www.facebook.com/H.5ateeb?mibextid=LQQJ4d" target="_blank"><i class="fa-brands fa-facebook p-2 rounded-circle bg-black bg-opacity-50"></i></a>  
        <a href="" target="_blank"> <i class="fa-brands fa-twitter p-2 rounded-circle bg-black bg-opacity-50"></i></a> 
        <a href="https://www.linkedin.com/in/hesham-el-khateeb-88747b175/" target="_blank"><i class="fa-brands fa-linkedin p-2 rounded-circle bg-black bg-opacity-50"></i></a> 
        <a href="https://www.instagram.com/the.hk.studio?igsh=MXA2MXlocnp0aWhyeQ==" target="_blank"> <i class="fa-brands fa-instagram p-2 rounded-circle bg-black bg-opacity-50"></i></a> 
        <!-- <i class="fa-brands fa-youtube p-2 rounded-circle bg-black bg-opacity-50"></i> -->
    </div>
    </div>
   </header>
<app-about></app-about>
<app-courses></app-courses>
<app-work-pervious></app-work-pervious>