
<div class="container mt-5">
    <div class="card profile-card">
        <div class="card-header text-center">
            <h2 class="profile-heading">My Profile</h2>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="image-preview">
                        <img src="images/registeration.jpg" alt="Profile Image" id="profileImagePreview" class="rounded-circle profile-avatar">
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="profile-content">
                        <div class="profile-detail">
                            <h4><i class="fas fa-user-circle"></i> Name : <span>Marina Samir</span></h4>
                        </div>
                        <div class="profile-detail">
                            <h4><i class="fas fa-phone"></i> Phone : <span>01201242302</span></h4>
                        </div>
                        <div class="profile-detail">
                            <h4><i class="fas fa-envelope"></i> Email : <span>marinagmail.com</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>