<section id="hero" >
    <div class="about-info mb-5 text-center">
      <h2>About Us</h2>
    </div>
    <div class="d-flex align-items-center">
      <div class="container">
        <div class="row gy-3 gap-5">
          <div class="col-md-6 text-content">
            <div class="about-info">
              <h3 [@slideIn]="isVisible ? 'visible' : 'hidden'">
                <span class="highlight">Online</span> E-Learning Class 
              </h3>
              <p>Our mission is to empower learners worldwide by providing accessible, high-quality education through innovative and engaging courses. Whether you're looking to enhance your skills, start a new career, or simply explore new areas of knowledge, we have something for everyone.</p>
              <!-- <a href="#" class="btn btn-about">Learn More</a> -->
            </div>
          </div>
          <div class="col-md-5 captionimg" [@zoomIn]="isVisible ? 'visible' : 'hidden'">
            <img src="images/hesham.jpeg" alt="E-learning for kids" class="img-fluid rounded-pill w-75">
          </div>
        </div>
      </div>
    </div>
  </section>