<section id="wishlist" class="wishlist">
    <div class="container">
        <div class="wishlist-info text-center pt-5 pb-5">
      <h2>My Wishlist</h2>
        </div>
     
      <div *ngIf="wishlistCourses.length === 0">
        <p>No courses in your wishlist yet.</p>
      </div>
  
     
      <div *ngIf="wishlistCourses.length > 0" class="row gy-3">
        <div class="col-md-4" *ngFor="let course of wishlistCourses">
          <div class="card h-100 shadow">
            <img [src]="course.image" class="card-img-top h-75" alt="{{ course.name }} image">
            <div class="card-body">
                
                <div class="mt-3 card-head d-flex justify-content-between align-items-center">
                    <h4 class="card-title">{{ course.name }}</h4>
              <span class="badge">{{ course.price }}</span>
           
                </div>
                <p class="card-text text-dark">{{ course.description }}</p>
                <div class="card-body d-flex justify-content-between align-items-center">
              <button class="btn btn-about" (click)="enroll(course.id)">Enroll Now</button>
              <i class="fs-3 heart-icon fa-heart fa-solid" (click)="removeFromWishlist(course.id)"> </i>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
