.quiz-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    animation: fadeInUp 0.5s ease-in-out;
  }
  @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
  .question {
    font-weight: bold;
  }
  .options label {
    display: block;
  }
  .btn-primary {
    margin-right: 5px;
    background-color: #4f7daf;
    border: none;
    transition: all 0.3s ease;
    margin-bottom: 3px;
}

.btn-primary:hover {
    background-color:  #8cabcc !important;
    border-color: #8cabcc !important;
}
h2{
    
    color:#130b5e ;
    font-style: italic;
  
}
.bg-point{
  background-color: #D2E0FB;
}