<div class="container">
    <div class="quiz-container">
      <h2 class="text-center">Course Quiz</h2>
      <form id="quizForm">
        <!-- Question 1 -->
        <div class="mb-4">
          <div class="d-flex justify-content-between">
           
          <p class="question">1. What does HTML stand for?</p>
          <p class="bg-point p-2 rounded"> 1 point</p>
        </div>
          <div class="options">
            <label><input type="radio" name="q1" value="Hyper Text Markup Language"> Hyper Text Markup Language</label>
            <label><input type="radio" name="q1" value="Hyperlinks and Text Markup Language"> Hyperlinks and Text Markup Language</label>
            <label><input type="radio" name="q1" value="High-Level Text Markup Language"> High-Level Text Markup Language</label>
            <label><input type="radio" name="q1" value=" Hyper Tool Markup Language">  Hyper Tool Markup Language</label>
          </div>
        </div>

        <!-- Question 2 -->
        <div class="mb-4">
          <div class="d-flex justify-content-between">
           
            <p class="question">2. Which of the following is a JavaScript framework?</p>
            <p class="bg-point p-2 rounded"> 1 point</p>
          </div>
        
          <div class="options">
            <label><input type="radio" name="q2" value="Earth"> Django</label>
            <label><input type="radio" name="q2" value="Mars">  Flask</label>
            <label><input type="radio" name="q2" value="Jupiter"> Angular</label>
            <label><input type="radio" name="q2" value="Venus"> Ruby on Rails</label>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit Quiz</button>
        </div>
      </form>
    </div>
  </div>